@import "../../../sass/mixins.scss";
@import "../../../sass/typography.scss";
@import "../../../sass/variables.scss";

.achievements {
  padding: 10rem 20rem 20rem 20rem;

  @include response(s-phone) {
    padding: 5rem;
  }
  .grid-box {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: [col-left-start] 58% [col-left-end col-right-start] 38% [col-right-end];
    grid-template-rows: repeat(2, [row-start] max-content [row-end]);
    gap: 4%;

    @include response(s-phone) {
      grid-template-columns: [col-start] 1fr [col-end];
      grid-template-row: repeat(3, [row-start] max-content [row-end]);
      gap: 0;
    }

    .card-1 {
      grid-column: col-left-start / col-left-end;
      grid-row: row-start 1 / row-end 1;

      @include response(s-phone) {
        grid-column: col-start / col-end;
        grid-row: row-start 1 / row-end 1;
        margin-bottom: 5rem;
      }
    }
    .card-2 {
      grid-column: col-left-start / col-left-end;
      grid-row: row-start 2 / row-end 2;

      @include response(s-phone) {
        grid-column: col-start / col-end;
        grid-row: row-start 2 / row-end 2;
        margin-bottom: 5rem;
      }
    }
    .card-3 {
      grid-column: col-right-start / col-right-end;
      grid-row: row-start 1 / row-end 2;

      @include response(s-phone) {
        grid-column: col-start / col-end;
        grid-row: row-start 3 / row-end 3;
      }
    }

    .achievement-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .img-container {
        height: 100%;
        border-radius: 1.6rem;
        overflow: hidden;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .details {
        .title {
          display: block;
          font-size: 4rem;
          color: $text-color-green;
          // margin-top: 3rem;

          span {
            display: block;
          }
        }
        .desc {
          font-size: 2rem;
          color: $text-color-green;
        }
      }
    }
  }
}
