@import "../../../sass/mixins.scss";
@import "../../../sass/typography.scss";
@import "../../../sass/variables.scss";

.campaigns {
  padding: 10rem 14.45rem;

  @include response(s-phone) {
    padding: 5rem;
  }
  .heading {
    margin-left: 5.55rem;

    @include response(s-phone) {
      margin-left: 0;
    }
  }
}
